# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/vendor
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log

# Centauri
/resources/js/centauri-env.js
/Build/node_modules

# /public/backend/*/centauri-*.*

/storage/Centauri/Domains/*.json
/storage/Centauri/Filelist/*
/storage/Centauri/temp

# IDEA
.vscode
