.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5rem;
    margin-top: -5rem;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .spinner-layer {
        border-color: #fff!important;
    }
}
