a {
    &.anim-underline {
        position: relative;
        text-decoration: none !important;
        transition: .66s cubic-bezier(1, -0.09, 0, 1.16);

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 3px;
            margin-top: 2px;
            background-color: gold;
            transition: .66s cubic-bezier(1, -0.09, 0, 1.16);
        }

        &:hover,
        &.active {
            color: gold !important;

            &:before {
                width: 100%;
            }
        }
    }
}

.rte-view,
.text-view {
    ul {
        &:not(.slick-dots) {
            list-style: none;
            padding-left: 15px;

            li {
                position: relative;
                font-size: 18px;

                &:before {
                    content: "» ";
                    position: absolute;
                    top: -3px;
                    left: -20px;
                    font-size: 20px;
                }
            }
        }
    }
}
