$tablegradient: linear-gradient(180deg,#303a4f,#2a3345);
$tablebordercolor: #2b3447;

#content {
    .table {
        &.table-dark {
            background: $tablegradient;

            thead {
                tr {
                    th {
                        background: $tablegradient;
                    }
                }
            }

            th,
            td {
                border-color: $tablebordercolor;
            }

            th,
            td {
                cursor: default;

                &::selection {
                    background: transparent;
                }
            }

            td {
                img {
                    &.flag {
                        box-shadow: 0 0 15px #212121;
                        width: 30px;
                    }
                }
            }

            .actions {
                display: flex;

                .action {
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        // color: #1e2533;
                        transform: scale(1.33);

                        &:active {
                            transform: scale(.9);
                        }
                    }
                }
            }
        }
    }
}

.md-form {
    input {
        &.form-control {
            &:read-only {
                color: #495057;
            }
        }
    }

    .ck + label {
        transform: translateY(-25px);
    }
}

.ck-editor__editable_inline {
    min-height: 150px;
}
