#{ce("headerimage")} {
    position: relative;

    & > div {
        .image-view::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
        }

        .text-view {
            padding-bottom: 45px;

            & > div {
                & > div {
                    cursor: default;
                    transition: $transition_66;

                    &:hover {
                        box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)!important;
                    }
                }
            }
        }

        .boxitem {
            p {
                margin-bottom: 0;
            }
        }
    }
}
